*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.r{
    
    height: 30px;
    width: 30px;
    
}
.rr{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}